[Desktop Entry]
Name=f-scrack
Encoding=UTF-8
Exec=sh -c "fscrack;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.Network;