[Desktop Entry]
Name=bulk_extractor
Encoding=UTF-8
Exec=sh -c "bulk_extractor -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
