[Desktop Entry]
Name=udptunnel
Encoding=UTF-8
Exec=sh -c "udptunnel -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=8.Tunnel;
