[Desktop Entry]
Name=dnmap-client
Encoding=UTF-8
Exec=sh -c "dnmap_client;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.Network_Portscanner;
