[Desktop Entry]
Name=netdiscover
Encoding=UTF-8
Exec=sh -c "netdiscover -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=2.Live-Host;
