[Desktop Entry]
Name=gpsd stop
Encoding=UTF-8
Exec=sh -c "sudo gpsd stop;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
