[Desktop Entry]
Name=stop
Encoding=UTF-8
Exec=sh -c "sudo nginx_stop.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.NGINX;
