[Desktop Entry]
Name=freeradius-wpe
Encoding=UTF-8
Exec=sh -c "freeradius -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.Wifi;
