[Desktop Entry]
Name=start
Encoding=UTF-8
Exec=sh -c "docker_start.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=false
Type=Application
Categories=6.Docker;
