[Desktop Entry]
Name=oclhashcat
Encoding=UTF-8
Exec=sh -c "oclhashcat;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=2.Local;