[Desktop Entry]
Name=polipo stop
Encoding=UTF-8
Exec=sh -c "sudo service polipo stop;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
