[Desktop Entry]
Name=polipo status
Encoding=UTF-8
Exec=sh -c "sudo service polipo status;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
