[Desktop Entry]
Name=privoxy start
Encoding=UTF-8
Exec=sh -c "sudo service privoxy start;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
