[Desktop Entry]
Name=mdb-sql
Encoding=UTF-8
Exec=sh -c "mdb-sql -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=5.Database;
