[Desktop Entry]
Name=freport
Encoding=UTF-8
Exec=sh -c "freport;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=16.IDS-IPS_Identification;
