[Desktop Entry]
Name=proxychains-ng
Encoding=UTF-8
Exec=sh -c "proxychains4 -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=8.Tunnel;
