[Desktop Entry]
Name=pth-smbclient
Encoding=UTF-8
Exec=sh -c "pth-smbclient -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=05-04-pass-hash;


