[Desktop Entry]
Name=pth-rpcclient
Encoding=UTF-8
Exec=sh -c "pth-rpcclient -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=05-04-pass-hash;


