[Desktop Entry]
Name=pth-curl
Encoding=UTF-8
Exec=sh -c "pth-curl -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=05-04-pass-hash;


