[Desktop Entry]
Name=masscan
Encoding=UTF-8
Exec=sh -c "masscan --help;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.Network_Portscanner;
