[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/home/alpha/PhpStorm-171.4694.2/bin/phpstorm.png
Exec="/home/alpha/PhpStorm-171.4694.2/bin/phpstorm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
X-XFCE-Source=file:///home/alpha/.local/share/applications/jetbrains-phpstorm.desktop
