[Desktop Entry]
Name=stop
Encoding=UTF-8
Exec=sh -c "conky_stop.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=false
Type=Application
Categories=5.CONKY;
