[Desktop Entry]
Name=LAPP Stop
Encoding=UTF-8
Exec=sh -c "sudo lapp_stop;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=0.LAPP;
