[Desktop Entry]
Name=dirbuster
Encoding=UTF-8
Exec=sh -c "dirbuster;${SHELL:-bash}"
StartupNotify=false
Terminal=false
Type=Application
Categories=15.Fuzzer;
