[Desktop Entry]
Name=dotdotpwn
Encoding=UTF-8
Exec=sh -c "dotdotpwn;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=15.Fuzzer;
