[Desktop Entry]
Name=tor start
Encoding=UTF-8
Exec=sh -c "sudo service tor start;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=4.TOR;
