[Desktop Entry]
Name=systemctl_enable
Encoding=UTF-8
Exec=sh -c "sudo tor_systemctl_enable.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=4.TOR;
