[Desktop Entry]
Name=tor status
Encoding=UTF-8
Exec=sh -c "sudo service tor status;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=4.TOR;
