[Desktop Entry]
Name=start
Encoding=UTF-8
Exec=sh -c "sudo lighttpd_start.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=1.LIGHTTPD;
