[Desktop Entry]
Name=ufonet
Encoding=UTF-8
Exec=sh -c "ufonet -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=10.Stresstest;
