[Desktop Entry]
Name=airgeddon
Encoding=UTF-8
Exec=sh -c "airgeddon;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=6.Wireless;1.Wifi;

