[Desktop Entry]
Name=rainbowcrack-ng_rtdump
Encoding=UTF-8
Exec=sh -c "rainbowcrack-ng_rtdump;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=2.Local;