[Desktop Entry]
Name=blkls
Encoding=UTF-8
Exec=sh -c "blkls;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
