[Desktop Entry]
Name=mmcat
Encoding=UTF-8
Exec=sh -c "mmcat;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
