[Desktop Entry]
Name=sqlninja
Encoding=UTF-8
Exec=sh -c "sqlninja;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=5.Database;
