[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/home/aurigae/PhpStorm-171.4424.11/bin/phpstorm.png
Exec="/home/aurigae/PhpStorm-171.4424.11/bin/phpstorm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
X-XFCE-Source=file:///home/aurigae/.local/share/applications/jetbrains-phpstorm.desktop
