[Desktop Entry]
Name=saned status
Encoding=UTF-8
Exec=sh -c "sudo service saned status;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
