[Desktop Entry]
Name=saned stop
Encoding=UTF-8
Exec=sh -c "sudo saned stop;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
