[Desktop Entry]
Name=miredo
Encoding=UTF-8
Exec=sh -c "miredo -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=8.Tunnel;
