[Desktop Entry]
Name=simplefuzzer
Encoding=UTF-8
Exec=sh -c "sfuzz;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=15.Fuzzer;
