[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alpha/Desktop/ettercap-text.desktop]
row=3
col=0

[462e2dbc-51cf-4e73-8bf4-8b65eccf3cbd]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/alpha]
row=2
col=0

