[Desktop Entry]
Name=bdfproxy
Encoding=UTF-8
Exec=sh -c "bdfproxy;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=7.Mitm;
