[Desktop Entry]
Name=brut3k1t
Encoding=UTF-8
Exec=sh -c "brut3k1t -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=4.Password;1.Network;
