[Desktop Entry]
Name=morpheus
Encoding=UTF-8
Exec=sh -c "sudo morpheus;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=7.Mitm;
