[Desktop Entry]
Name=recoverjpeg
Encoding=UTF-8
Exec=sh -c "recoverjpeg -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
