[Desktop Entry]
Name=dirb
Encoding=UTF-8
Exec=sh -c "dirb;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=15.Web-Crawler_and_Directory-Bruteforce;
