[Desktop Entry]
Name=irpas-timestamp   
Encoding=UTF-8
Exec=sh -c "irpas-timestamp -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;