[Desktop Entry]
Name=irpas-protos   
Encoding=UTF-8
Exec=sh -c "irpas-protos -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;