[Desktop Entry]
Name=irpas-hsrp
Encoding=UTF-8
Exec=sh -c "irpas-hsrp -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;
