[Desktop Entry]
Name=irpas-itrace   
Encoding=UTF-8
Exec=sh -c "irpas-itrace -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;