[Desktop Entry]
Name=irpas-igrp 
Encoding=UTF-8
Exec=sh -c "irpas-igrp -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;
