[Desktop Entry]
Name=irpas-irpas-hsrp 
Encoding=UTF-8
Exec=sh -c "irpas-irpas-hsrp -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;