[Desktop Entry]
Name=irpas-irdp 
Encoding=UTF-8
Exec=sh -c "irpas-irdp -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;
