[Desktop Entry]
Name=irpas-icmp_redirect 
Encoding=UTF-8
Exec=sh -c "irpas-icmp_redirect -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;
