[Desktop Entry]
Name=irpass-cdp
Encoding=UTF-8
Exec=sh -c "irpas-cdp;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Route-Analysis;
