[Desktop Entry]
Name=pack_policygen
Encoding=UTF-8
Exec=sh -c "pack_policygen -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=pack;
