[Desktop Entry]
Name=LAMP Status
Encoding=UTF-8
Exec=sh -c "sudo lamp_status.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=0.LAMP;
