[Desktop Entry]
Name=proxytunnel
Encoding=UTF-8
Exec=sh -c "proxytunnel -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=8.Tunnel;
