[Desktop Entry]
Name=dbpwaudit
Encoding=UTF-8
Exec=sh -c "dbpwaudit;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=5.Database;
