[Desktop Entry]
Name=fruitywifi
Encoding=UTF-8
Exec=sh -c "fruitywifi;${SHELL:-bash}"
StartupNotify=false
Terminal=false
Type=Application
Categories=1.Wifi;
