[Desktop Entry]
Name=redfang
Encoding=UTF-8
Exec=sh -c "fang -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-bluetooth-tools;
