[Desktop Entry]
Name=arpfox
Encoding=UTF-8
Exec=sh -c "arpfox -h;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=7.Mitm;
