[Desktop Entry]
Name=saned start
Encoding=UTF-8
Exec=sh -c "sudo service saned start;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
