[Desktop Entry]
Name=bluetooth start
Encoding=UTF-8
Exec=sh -c "sudo service bluetooth start;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PROXY;
