[Desktop Entry]
Name=systemctl_disable
Encoding=UTF-8
Exec=sh -c "sudo php7.0-fpm_systemctl_disable.sh;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.PHP;
