[Desktop Entry]
Name=wifijammer
Encoding=UTF-8
Exec=sh -c "sudo wifijammer ;${SHELL:-bash}"
StartupNotify=false
Terminal=true
Type=Application
Categories=3.Jammer;
